<footer class="site-footer">
    <h2>
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </h2>
    <div class="dashboard">
        <ul class="grid">
            <li>
                <h3>Info</h3>
                {{ partial "site-footer" }}
            </li>
            <li>
                <h3>Contact</h3>
                <p>
                    &copy; Mateus Melo<br> mateusmeloxyz [at] gmail [dot] com</p>

                <div class="social">
                    <!--  RSS FEED -->
                    <a href="/feeds" type="application/atom+xml" rel="alternate" target="_blank"></a>

                    <a href="https://twitter.com/" target="_blank"></a>

                    <a href="https://www.patreon.com/" target="_blank"></a>

                    <a href='{{ i18n "newsletterlink" | default .Site.Params.Newsletter }}' target="_blank"></a>
                </div>
                <!-- /.social -->

            </li>
        </ul>
    </div>
</footer>